{erl_opts, [
  {parse_transform, pmod_pt},
	%warnings_as_errors,
	warn_export_all
]}.

{deps, [
    {pmod_transform, ".*", {git, "https://github.com/erlang/pmod_transform", "HEAD"}}
]}.

{port_env, [
    {"linux", "CXXFLAGS","$CXXFLAGS -O3 -std=c++17"},
    {"linux", "LDFLAGS", "$LDFLAGS -lstdc++"},
    {"win32", "ERL_LDFLAGS", "/LINK /LIBPATH:$ERL_EI_LIBDIR erl_interface.lib ei.lib"},
    {"win32", "DRV_CXX_TEMPLATE",
      "$CXX -c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
      %"$CXX /Od /DEBUG /DERLCFG_TEST -c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_LINK_CXX_TEMPLATE",
      "$CXX /LD $PORT_IN_FILES $LDFLAGS $ERV_LDFLAGS /Fe$PORT_OUT_FILE"}
]}.

{port_specs,[{"x86_64.*-linux", "priv/erlcfg_nifs.x64.so",  ["c_src/*.cpp"]}]}.

{pre_hooks,  [{"linux", compile, "rm -fr c_src/*.o"},
              {"win32", compile, "del /Q c_src\\*.obj priv\\*.exp priv\\*.lib 2>NUL"}]}.
{post_hooks, [{"linux", clean,   "rm -fr c_src/*.o"},
              {"linux", compile, "rm -fr c_src/*.o"},
              {"win32", clean,   "del /Q c_src\\*.obj priv\\*.exp priv\\*.lib 2>NUL"},
              {"win32", compile, "del /Q c_src\\*.obj priv\\*.exp priv\\*.lib 2>NUL"}]}.
