{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{deps, [
    {pmod_transform, ".*", {git, "https://github.com/erlang/pmod_transform", "HEAD"}}
]}.

{port_env, [
    {"linux", "CXXFLAGS","$CXXFLAGS -O3 -std=c++17"},
    {"linux", "LDFLAGS", "$LDFLAGS -lstdc++"},
    {"win32", "ERL_LDFLAGS", "/LINK /LIBPATH:$ERL_EI_LIBDIR erl_interface.lib ei.lib"},
    {"win32", "DRV_CXX_TEMPLATE",
      "$CXX -c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_LINK_CXX_TEMPLATE",
      "$CXX /LD $PORT_IN_FILES $LDFLAGS $ERV_LDFLAGS /Fe$PORT_OUT_FILE"}
]}.

{port_specs,[{"priv/erlcfg_nifs.so", ["c_src/*.cpp"]},
            {"win32", "priv/erlcfg_nifs.dll", ["c_src/*.cpp"]}]}.

%{pre_hooks, [{clean, "rm -fr ebin priv erl_crash.dump"}]}.
{post_hooks, [{clean, "rm -fr c_src/*.o"}]}.
