{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{deps, [
    {pmod_transform, ".*", {git, "https://github.com/erlang/pmod_transform", "HEAD"}}
]}.

{port_env, [
    {"CXXFLAGS","$CXXFLAGS -O3"},
    {"LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{port_specs,[{"priv/erlcfg_nifs.so", ["c_src/*.cpp"]}]}.

%{pre_hooks, [{clean, "rm -fr ebin priv erl_crash.dump"}]}.
